## Data Preprocessing on ODI Bowlers Dataset.
Done by: Audity Ghosh
<br>3rd Year, CSE, RUET

#### Objectives:
- Reading a specific sheet from an excel file.
- Getting the insights of data
- Extracting new information from a column.
- Removing redundant information from the dataset.

## Importing necessary modules

In [40]:
import numpy as np
import pandas as pd

## Read the data sheet into dataframe

In [41]:
df = pd.read_excel("ODI_cricket.xlsx", sheet_name="bowler", engine="openpyxl")

display(df.head())

,Player,Span,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9

Here our excel file contained two sheets, so we specified which sheet to take for dataframe.

## First 10 rows of the dataframe

In [42]:
display(df.head(10))

,Player,Span,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
0,M Muralitharan (Asia/ICC/SL),1993-2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram (PAK),1984-2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis (PAK),1989-2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas (Asia/SL),1994-2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi (Asia/ICC/PAK),1996-2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9
5,SM Pollock (Afr/ICC/SA),1996-2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5
6,GD McGrath (AUS/ICC),1993-2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7
7,B Lee (AUS),2000-2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9
8,SL Malinga (SL),2004-2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8
9,A Kumble (Asia/INDIA),1990-2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2

## The meaning of each column

    Player: Name of the bowlers of the dataset.
    Span: The active years of the bowler
    Mat: The number of matches the bowler has played.
    Inns: The number of innings the bowler has played.
    Balls: The number of balls the bowler has bowled.
    Wkts: The number of wickets the specific bowler has taken.
    Runs: The number of runs yielded.
    Ave: The number of runs yielded per wicket. (Ave = Runs/Wkts)
    Econ: The number of runs surrendered per over. (Econ = Runs/(Balls/6)). 
    SR: The number of balls bowled per wicket taken. (SR = Balls/Wkts) 
    4: The number of innings where the bowler took four wickets.
    5: The number of innings where the bowler took five or more wickets.

## No of rows and columns in the dataset

In [43]:
print("No of rows ", df.shape[0])
print("No of columns ", df.shape[1])

No of rows  77
No of columns  12

##  Data statistics and Data types

In [44]:
df.describe()

,Mat,Inns,Balls,Runs,Wkts,Ave,Econ,SR,4,5
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,194.402597,181.194805,8839.402597,6671.714286,233.805195,28.958052,4.596753,37.909091,6.350649,2.870130
std,82.485606,67.958393,3316.055457,2245.839029,84.406603,4.826768,0.515814,6.060901,3.556929,2.530606
min,80.000000,76.000000,4074.000000,2821.000000,151.000000,18.680000,3.300000,26.100000,1.000000,0.000000
25%,136.000000,128.000000,6182.000000,5058.000000,173.000000,24.970000,4.280000,33.000000,3.000000,1.000000
50%,170.000000,164.000000,8054.000000,6192.000000,199.000000,29.290000,4.660000,37.800000,6.000000,2.000000
75%,227.000000,218.000000,10750.000000,8021.000000,272.000000,31.900000,4.920000,41.400000,8.000000,4.000000
max,463.000000,372.000000,18811.000000,13632.000000,534.000000,44.480000,5.830000,52.500000,17.000000,13.000000

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  77 non-null     object
 1   Span    77 non-null     object
 2   Mat     77 non-null     int64
 3   Inns    77 non-null     int64
 4   Balls   77 non-null     int64
 5   Runs    77 non-null     int64
 6   Wkts    77 non-null     int64
 7   Ave     77 non-null     float64
 8   Econ    77 non-null     float64
 9   SR      77 non-null     float64
 10  4       77 non-null     int64
 11  5       77 non-null     int64
dtypes: float64(3), int64(7), object(2)
memory usage: 7.3+ KB

#### Here we can see, there is no null elements, all counts are equal to total number of rows.

## Renaming the column names appropriately

In [46]:
# renaming the column names
df = df.rename(columns={ 
                        'Mat':'Matches_Played',
                        'Inns': 'Innings_Played',
                        'Balls': 'Balls_Bowled',
                        'Runs': 'Runs_Yielded',
                        'Wkts': 'Wickets_Taken',
                        'Ave': 'Bowling_Average',
                        'Econ': 'Economy_Rate',
                        'SR': 'Strike_Rate',
                        4: "Four_Wickets_in_an_innings",
                        5: "Five_Wickets_in_an_innings"
})

# splitting the 'Player' column to get the information about 'Country'
df[["Player_Name", "Country"]] = df['Player'].str.split("(", expand=True)

# dropping the 'Player' columns
df = df.drop('Player', axis=1)

# remove the ")" from the 'Country' column
df['Country'] = df['Country'].str.replace(")", "")

# splitting the 'Span' column based on the "-"
df[['Start_year', 'End_year']] = df['Span'].str.split("-", expand=True)

# removing the "Span" column
df = df.drop("Span", axis=1)

# rearrange the columns
new_col_sequence = ['Player_Name', 'Country', 'Start_year', 'End_year', 'Matches_Played', 'Innings_Played', 'Balls_Bowled', 
                    'Runs_Yielded', 'Wickets_Taken','Bowling_Average', 'Economy_Rate', 'Strike_Rate', 
                    'Four_Wickets_in_an_innings', 'Five_Wickets_in_an_innings']
df = df[new_col_sequence]

display(df.head(10))

,Player_Name,Country,Start_year,End_year,Matches_Played,Innings_Played,Balls_Bowled,Runs_Yielded,Wickets_Taken,Bowling_Average,Economy_Rate,Strike_Rate,Four_Wickets_in_an_innings,Five_Wickets_in_an_innings
0,M Muralitharan,Asia/ICC/SL,1993,2011,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram,PAK,1984,2003,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis,PAK,1989,2003,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas,Asia/SL,1994,2008,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi,Asia/ICC/PAK,1996,2015,398,372,17670,13632,395,34.51,4.62,44.7,4,9
5,SM Pollock,Afr/ICC/SA,1996,2008,303,297,15712,9631,393,24.50,3.67,39.9,12,5
6,GD McGrath,AUS/ICC,1993,2007,250,248,12970,8391,381,22.02,3.88,34.0,9,7
7,B Lee,AUS,2000,2012,221,217,11185,8877,380,23.36,4.76,29.4,14,9
8,SL Malinga,SL,2004,2019,226,220,10936,9760,338,28.87,5.35,32.3,11,8
9,A Kumble,Asia/INDIA,1990,2007,271,265,14496,10412,337,30.89,4.30,43.0,8,2

### Find the player who played for the longest time

##### Here the "Span" column was a string type, so when it was divided into Start_year and End_year, they both were string types as well. So it was necessary to convert them to integer type to get the difference.

In [47]:
df['Start_year'] = df['Start_year'].astype('int') 
df['End_year'] = df['End_year'].astype('int')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Player_Name                 77 non-null     object
 1   Country                     77 non-null     object
 2   Start_year                  77 non-null     int32
 3   End_year                    77 non-null     int32
 4   Matches_Played              77 non-null     int64
 5   Innings_Played              77 non-null     int64
 6   Balls_Bowled                77 non-null     int64
 7   Runs_Yielded                77 non-null     int64
 8   Wickets_Taken               77 non-null     int64
 9   Bowling_Average             77 non-null     float64
 10  Economy_Rate                77 non-null     float64
 11  Strike_Rate                 77 non-null     float64
 12  Four_Wickets_in_an_innings  77 non-null     int64
 13  Five_Wickets_in_an_innings  77 non-null     int64
dtypes: float64(3), int32(2), int64(7), object(2)
memory usage: 7.9+ KB
None

##### As we have End_year and Start_year give the information about Years_Played, they became redundant columns, so we discarded them.

In [48]:
df['Years_played'] = df['End_year'] - df['Start_year']

df = df.drop(['Start_year', "End_year"], axis=1)

# rearrange the columns
new_col_sequence = ['Player_Name', 'Country', 'Years_played', 'Matches_Played', 'Innings_Played', 'Balls_Bowled', 
                    'Runs_Yielded', 'Wickets_Taken','Bowling_Average', 'Economy_Rate', 'Strike_Rate', 
                    'Four_Wickets_in_an_innings', 'Five_Wickets_in_an_innings']
df = df[new_col_sequence]

display(df.head(10))

,Player_Name,Country,Years_played,Matches_Played,Innings_Played,Balls_Bowled,Runs_Yielded,Wickets_Taken,Bowling_Average,Economy_Rate,Strike_Rate,Four_Wickets_in_an_innings,Five_Wickets_in_an_innings
0,M Muralitharan,Asia/ICC/SL,18,350,341,18811,12326,534,23.08,3.93,35.2,15,10
1,Wasim Akram,PAK,19,356,351,18186,11812,502,23.52,3.89,36.2,17,6
2,Waqar Younis,PAK,14,262,258,12698,9919,416,23.84,4.68,30.5,14,13
3,WPUJC Vaas,Asia/SL,14,322,320,15775,11014,400,27.53,4.18,39.4,9,4
4,Shahid Afridi,Asia/ICC/PAK,19,398,372,17670,13632,395,34.51,4.62,44.7,4,9
5,SM Pollock,Afr/ICC/SA,12,303,297,15712,9631,393,24.50,3.67,39.9,12,5
6,GD McGrath,AUS/ICC,14,250,248,12970,8391,381,22.02,3.88,34.0,9,7
7,B Lee,AUS,12,221,217,11185,8877,380,23.36,4.76,29.4,14,9
8,SL Malinga,SL,15,226,220,10936,9760,338,28.87,5.35,32.3,11,8
9,A Kumble,Asia/INDIA,17,271,265,14496,10412,337,30.89,4.30,43.0,8,2

#### Solution:  Find the player who played for the longest time

In [49]:
df[df['Years_played']==df['Years_played'].max()]['Player_Name']

72    SR Tendulkar
Name: Player_Name, dtype: object

Here 72 is the serial number in the dataset.

## The player who played for the shortest period

In [50]:
df[df['Years_played']==df['Years_played'].min()]['Player_Name']

40     BKV Prasad
49    Saeed Ajmal
73     BAW Mendis
74    Rashid Khan
Name: Player_Name, dtype: object

Left column denotes serial number

In [51]:
df[df['Years_played']==df['Years_played'].min()]['Player_Name'].values

array(['BKV Prasad ', 'Saeed Ajmal ', 'BAW Mendis ', 'Rashid Khan '],
      dtype=object)

### Count how many players played for ICC

In [52]:
def icc_check(x):
    if "ICC" in x:
        return "Yes"
    else:
        return "No"

In [53]:
df['played_for_ICC'] = df['Country'].apply(icc_check)

In [54]:
print(df['played_for_ICC'].value_counts())

No     64
Yes    13
Name: played_for_ICC, dtype: int64

##### Here, we can see there are 13 playes who played for ICC

### Count how many Austrailian bowlers are there

In [55]:
# function for checking austrailian bowlers
def austrailia_check(x):
    if "AUS" in x:
        return "Yes"
    else:
        return "No"

In [56]:
df['played_for_Austrailia'] = df['Country'].apply(austrailia_check) #function applied to specific column values.

display(df.head(10))

,Player_Name,Country,Years_played,Matches_Played,Innings_Played,Balls_Bowled,Runs_Yielded,Wickets_Taken,Bowling_Average,Economy_Rate,Strike_Rate,Four_Wickets_in_an_innings,Five_Wickets_in_an_innings,played_for_ICC,played_for_Austrailia
0,M Muralitharan,Asia/ICC/SL,18,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,No
1,Wasim Akram,PAK,19,356,351,18186,11812,502,23.52,3.89,36.2,17,6,No,No
2,Waqar Younis,PAK,14,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,No
3,WPUJC Vaas,Asia/SL,14,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,No
4,Shahid Afridi,Asia/ICC/PAK,19,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,No
5,SM Pollock,Afr/ICC/SA,12,303,297,15712,9631,393,24.50,3.67,39.9,12,5,Yes,No
6,GD McGrath,AUS/ICC,14,250,248,12970,8391,381,22.02,3.88,34.0,9,7,Yes,Yes
7,B Lee,AUS,12,221,217,11185,8877,380,23.36,4.76,29.4,14,9,No,Yes
8,SL Malinga,SL,15,226,220,10936,9760,338,28.87,5.35,32.3,11,8,No,No
9,A Kumble,Asia/INDIA,17,271,265,14496,10412,337,30.89,4.30,43.0,8,2,No,No

In [57]:
print(df['played_for_Austrailia'].value_counts())

No     67
Yes    10
Name: played_for_Austrailia, dtype: int64

#### Here, we can see there are 10 Austrailian Bowlers in the dataset.

### Check if there is any Bangladeshi Bowler

In [58]:
#function to find bd player
def Bangladesh_check(x):
    if "BAN" in x:
        return "Yes"
    else:
        return "No"

In [59]:
df['played_for_Bangladesh'] = df['Country'].apply(Bangladesh_check) # function applied to specific column

display(df.sample(10))

,Player_Name,Country,Years_played,Matches_Played,Innings_Played,Balls_Bowled,Runs_Yielded,Wickets_Taken,Bowling_Average,Economy_Rate,Strike_Rate,Four_Wickets_in_an_innings,Five_Wickets_in_an_innings,played_for_ICC,played_for_Austrailia,played_for_Bangladesh
22,Abdul Razzaq,Asia/PAK,15,265,254,10941,8564,269,31.83,4.69,40.6,8,3,No,No,No
36,CL Cairns,ICC/NZ,15,215,186,8168,6594,201,32.80,4.84,40.6,3,1,Yes,No,No
35,CZ Harris,NZ,14,250,232,10667,7613,203,37.50,4.28,52.5,2,1,No,No,No
39,DW Steyn,Afr/SA,14,125,124,6256,5087,196,25.95,4.87,31.9,4,3,No,No,No
41,MA Starc,AUS,11,99,99,5099,4379,195,22.45,5.15,26.1,11,8,No,Yes,No
63,Mushtaq Ahmed,PAK,14,144,142,7543,5361,161,33.29,4.26,46.8,3,1,No,No,No
66,Shoaib Malik,PAK,20,287,217,7958,6192,158,39.18,4.66,50.3,1,0,No,No,No
18,JH Kallis,Afr/ICC/SA,18,328,283,10750,8680,273,31.79,4.84,39.3,2,2,Yes,No,No
15,AB Agarkar,INDIA,9,191,188,9484,8021,288,27.85,5.07,32.9,10,2,No,No,No
48,CRD Fernando,Asia/SL,11,147,141,6507,5648,187,30.20,5.20,34.7,3,1,No,No,No

In [60]:
print(df['played_for_Bangladesh'].value_counts())

No     74
Yes     3
Name: played_for_Bangladesh, dtype: int64

##### Here, we can observe there are three Bangladeshi Bowlers

## Find the player with the lowest Economic Rate

In [61]:
df[df['Economy_Rate']==df['Economy_Rate'].min()]['Player_Name']

65    RJ Hadlee
Name: Player_Name, dtype: object

## Find the player with the lowest Strike Rate

In [62]:
df[df['Strike_Rate']==df['Strike_Rate'].min()]['Player_Name']

41    MA Starc
Name: Player_Name, dtype: object

Left column denotes serial number.

### Find the player with the lowest bowling average

In [63]:
df[df['Bowling_Average']==df['Bowling_Average'].min()]['Player_Name']

74    Rashid Khan
Name: Player_Name, dtype: object

Left column denotes serial number.

In [64]:
df.sample(20)

,Player_Name,Country,Years_played,Matches_Played,Innings_Played,Balls_Bowled,Runs_Yielded,Wickets_Taken,Bowling_Average,Economy_Rate,Strike_Rate,Four_Wickets_in_an_innings,Five_Wickets_in_an_innings,played_for_ICC,played_for_Austrailia,played_for_Bangladesh
4,Shahid Afridi,Asia/ICC/PAK,19,398,372,17670,13632,395,34.51,4.62,44.7,4,9,Yes,No,No
62,CH Gayle,ICC/WI,20,301,199,7424,5926,167,35.48,4.78,44.4,3,1,Yes,No,No
52,Umar Gul,PAK,13,130,128,6064,5253,179,29.34,5.19,33.8,4,2,No,No,No
8,SL Malinga,SL,15,226,220,10936,9760,338,28.87,5.35,32.3,11,8,No,No,No
69,A Nehra,Asia/INDIA,10,120,120,5751,4981,157,31.72,5.19,36.6,5,2,No,No,No
2,Waqar Younis,PAK,14,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,No,No
18,JH Kallis,Afr/ICC/SA,18,328,283,10750,8680,273,31.79,4.84,39.3,2,2,Yes,No,No
39,DW Steyn,Afr/SA,14,125,124,6256,5087,196,25.95,4.87,31.9,4,3,No,No,No
26,Shoaib Akhtar,Asia/ICC/PAK,13,163,162,7764,6169,247,24.97,4.76,31.4,6,4,Yes,No,No
57,JDP Oram,NZ,11,160,154,6911,5047,173,29.17,4.38,39.9,3,2,No,No,No
30,D Gough,ENG/ICC,12,159,156,8470,6209,235,26.42,4.39,36.0,10,2,Yes,No,No
25,N Kapil Dev,INDIA,16,225,221,11202,6945,253,27.45,3.71,44.2,3,1,No,No,No
23,Harbhajan Singh,Asia/INDIA,17,236,227,12479,8973,269,33.35,4.31,46.3,2,3,No,No,No
49,Saeed Ajmal,PAK,7,113,112,6000,4182,184,22.72,4.18,32.6,6,2,No,No,No
70,GB Hogg,AUS,12,123,113,5564,4188,156,26.84,4.51,35.6,3,2,No,Yes,No
14,Saqlain Mushtaq,PAK,8,169,165,8770,6275,288,21.78,4.29,30.4,11,6,No,No,No
43,CL Hooper,WI,16,227,203,9573,6958,193,36.05,4.36,49.6,3,0,No,No,No
38,KMDN Kulasekara,SL,14,184,181,8263,6751,199,33.92,4.90,41.5,4,1,No,No,No
22,Abdul Razzaq,Asia/PAK,15,265,254,10941,8564,269,31.83,4.69,40.6,8,3,No,No,No
46,M Morkel,Afr/SA,11,117,114,5760,4761,188,25.32,4.95,30.6,7,2,No,No,No

## Remove redundant information

In [65]:
def asia_check(x):
    if "Asia" in x:
        return "Yes"
    else:
        return "No"

In [66]:
def africa_check(x):
    if "Afr" in x:
        return "Yes"
    else:
        return "No"

In [67]:

df['played_for_Asia'] = df['Country'].apply(asia_check)
df['played_for_Africa'] = df['Country'].apply(africa_check)

In [68]:

print(df['played_for_Asia'].value_counts())
print(df['played_for_Africa'].value_counts())

No     65
Yes    12
Name: played_for_Asia, dtype: int64
No     72
Yes     5
Name: played_for_Africa, dtype: int64

In [69]:
df['Country'] = df['Country'].str.replace("ICC/", "")
df['Country'] = df['Country'].str.replace("/ICC", "")
df['Country'] = df['Country'].str.replace("Asia/", "")
df['Country'] = df['Country'].str.replace("Afr/", "")

display(df.sample(10))

,Player_Name,Country,Years_played,Matches_Played,Innings_Played,Balls_Bowled,Runs_Yielded,Wickets_Taken,Bowling_Average,Economy_Rate,Strike_Rate,Four_Wickets_in_an_innings,Five_Wickets_in_an_innings,played_for_ICC,played_for_Austrailia,played_for_Bangladesh,played_for_Asia,played_for_Africa
51,Aaqib Javed,PAK,10,163,159,8012,5721,182,31.43,4.28,44.0,2,4,No,No,No,No,No
52,Umar Gul,PAK,13,130,128,6064,5253,179,29.34,5.19,33.8,4,2,No,No,No,No,No
55,NW Bracken,AUS,8,116,116,5759,4240,174,24.36,4.41,33.0,5,2,No,Yes,No,No,No
60,TA Boult,NZ,9,93,93,5117,4261,169,25.21,4.99,30.2,8,5,No,No,No,No,No
3,WPUJC Vaas,SL,14,322,320,15775,11014,400,27.53,4.18,39.4,9,4,No,No,No,Yes,No
0,M Muralitharan,SL,18,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,No,No,Yes,No
44,L Klusener,SA,8,171,164,7336,5751,192,29.95,4.70,38.2,1,6,No,No,No,No,No
56,Imran Tahir,SA,8,107,104,5541,4297,173,24.83,4.65,32.0,7,3,No,No,No,No,No
73,BAW Mendis,SL,7,87,84,4154,3324,152,21.86,4.80,27.3,7,3,No,No,No,No,No
34,CJ McDermott,AUS,11,138,138,7461,5018,203,24.71,4.03,36.7,4,1,No,Yes,No,No,No

Replace is used to replace the specific substring with the new defined ones.

### Checking the unique values for country column

In [70]:
df['Country'].value_counts()

INDIA    13
PAK      12
AUS      10
SL        9
NZ        8
SA        8
WI        6
ENG       6
BAN       3
AFG       1
ZIM       1
Name: Country, dtype: int64

In [71]:
# count no. of unique 
# values in Country column
n = df['Country'].nunique()
  
print("No.of.unique values in Country column :", n)

No.of.unique values in Country column : 11

##### Here, we can see there are 11 different countries in the Country column.

In [72]:
display(df.sample(20))

,Player_Name,Country,Years_played,Matches_Played,Innings_Played,Balls_Bowled,Runs_Yielded,Wickets_Taken,Bowling_Average,Economy_Rate,Strike_Rate,Four_Wickets_in_an_innings,Five_Wickets_in_an_innings,played_for_ICC,played_for_Austrailia,played_for_Bangladesh,played_for_Asia,played_for_Africa
57,JDP Oram,NZ,11,160,154,6911,5047,173,29.17,4.38,39.9,3,2,No,No,No,No,No
20,Mashrafe Mortaza,BAN,19,220,220,10922,8893,270,32.93,4.88,40.4,7,1,No,No,Yes,Yes,No
64,AU Rashid,ENG,12,112,106,5573,5251,159,33.02,5.65,35.0,7,2,No,No,No,No,No
63,Mushtaq Ahmed,PAK,14,144,142,7543,5361,161,33.29,4.26,46.8,3,1,No,No,No,No,No
74,Rashid Khan,AFG,7,80,76,4074,2821,151,18.68,4.15,26.9,5,4,No,No,No,No,No
47,RA Jadeja,INDIA,11,168,164,8557,7024,188,37.36,4.92,45.5,7,1,No,No,No,No,No
2,Waqar Younis,PAK,14,262,258,12698,9919,416,23.84,4.68,30.5,14,13,No,No,No,No,No
36,CL Cairns,NZ,15,215,186,8168,6594,201,32.80,4.84,40.6,3,1,Yes,No,No,No,No
24,M Ntini,SA,11,173,171,8687,6559,266,24.65,4.53,32.6,8,4,Yes,No,No,No,No
76,R Ashwin,INDIA,12,113,111,6141,5058,151,33.49,4.94,40.6,1,0,No,No,No,No,No
60,TA Boult,NZ,9,93,93,5117,4261,169,25.21,4.99,30.2,8,5,No,No,No,No,No
0,M Muralitharan,SL,18,350,341,18811,12326,534,23.08,3.93,35.2,15,10,Yes,No,No,Yes,No
37,DJ Bravo,WI,10,164,150,6511,5874,199,29.51,5.41,32.7,6,1,No,No,No,No,No
39,DW Steyn,SA,14,125,124,6256,5087,196,25.95,4.87,31.9,4,3,No,No,No,No,Yes
28,MG Johnson,AUS,10,153,150,7489,6038,239,25.26,4.83,31.3,9,3,No,Yes,No,No,No
41,MA Starc,AUS,11,99,99,5099,4379,195,22.45,5.15,26.1,11,8,No,Yes,No,No,No
13,SK Warne,AUS,12,194,191,10642,7541,293,25.73,4.25,36.3,12,1,Yes,Yes,No,No,No
29,HH Streak,ZIM,12,189,185,9468,7129,239,29.82,4.51,39.6,7,1,No,No,No,No,Yes
31,CA Walsh,WI,15,205,204,10822,6918,227,30.47,3.83,47.6,6,1,No,No,No,No,No
56,Imran Tahir,SA,8,107,104,5541,4297,173,24.83,4.65,32.0,7,3,No,No,No,No,No

Here , as we have seperate columns to know whether the player played for ICC or Asia or Africa, there is no need to have them in the country column as well. In this way, we can get rid of redundant information from our dataset.